h1{
    color: teal;
}
img{
    width: 400px;
}
#thirdDiv{
    background: grey;
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 5px double red;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    
}